cpu_hard_shadow_renderer/.vs/
cpu_hard_shadow_renderer/Debug/
cpu_hard_shadow_renderer/cpu_hard_shadow_renderer/Release/
cpu_hard_shadow_renderer/Release/
cpu_hard_shadow_renderer/cpu_hard_shadow_renderer/Debug/
cpu_hard_shadow_renderer_src/build/.vs/
cpu_hard_shadow_renderer_src/build/
model*/*
